@inject NavigationManager navigationManagern
@using System.Security.Claims
@using System.Threading.Tasks
@using static NavMenu

<style>

	.rz-card {
		border-radius: 4px;
		box-shadow: 0 6px 14px 0 rgb(0 0 0 / 6%);
		background-color: #ffffff;
		height: 40px;
		padding: unset;
	}

	.rz-menu:not(.rz-profile-menu) {
		background-color: lightgrey;
		height: 40px;
	}

		.rz-menu:not(.rz-profile-menu) .rz-navigation-item-wrapper {
			height: auto;
			padding: 5px;
		}


	.menuGris {
		background-color: lightgrey;
	}

	.divIzquierda {
		display: inline;
		height: auto;
		position: absolute;
		right: 0px;
		padding: 2px;
	}
</style>
<div class="menuGris">
	<RadzenCard>
		<RadzenMenu>
			@foreach (var it in MenuItems)
			{
	   <RadzenMenuItem Text="@it.Text" Icon="@it.Icon" Path="@it.Path" />
			}
  </RadzenMenu>
 </RadzenCard>
</div>


@code {

	#region Personalizar

	private List<menuItem> MenuItems = new List<menuItem>()
	{
	new menuItem("General","main"){ Icon="home" },
	new menuItem("Calculador de TSS","Calculador"),
	new menuItem("Calculador de Zonas y Potencia","ZonesCalculator"),
	new menuItem("Documentos y enlaces","Links"),
	};
	#endregion



	#region Menu

	public sealed class menuItem
	{
		public menuItem(string text, string path)
		{
			Text = text;
			Path = path;
		}
		public string Text { get; set; }
		public string Path { get; set; }
		public string Icon { get; set; } = "description";
	}

	#endregion


}
