@page "/AE"
<h3>Aerobic Endurance Workouts</h3>
<RadzenImage Path="endurance1.jpg" Style="height:600px;width:800px;"></RadzenImage>
<RadzenImage Path="endurance2.jpg" Style="height:600px;width:800px;"></RadzenImage>
<RadzenImage Path="endurance3.jpg" Style="height:600px;width:800px;"></RadzenImage>
<RadzenImage Path="endurance4.jpg" Style="height:600px;width:800px;"></RadzenImage>
<RadzenImage Path="endurance5.jpg" Style="height:600px;width:800px;"></RadzenImage>
@code {

}
