@page "/Calculador"
<h3>Calculador de TSS</h3>

                <RadzenFieldset Text="Cálculo del número de TSS">
                    FTHR (Pulsaciones medias test ftp*0.95)
                    <RadzenTextBox @bind-Value=@Model.FTHR />
                    Media pulsaciones en la actividad
                    <RadzenTextBox @bind-Value=@Model.PulsacionesMedias />
                    Minutos en la actividad
                    <RadzenTextBox @bind-Value=@Model.Minutos></RadzenTextBox>
                    <RadzenButton Click=@Check>Calcular</RadzenButton>
                    @if (!string.IsNullOrEmpty(Model.Result))
                    {
                        <p><em>@Model.Result</em></p>
                    }
                </RadzenFieldset>




    @code {
       
        TssCalculator.TssModel Model = new TssCalculator.TssModel();

      
        public void Check()
        {
            var calculator = new TssCalculator();
            calculator.GetCalculation(Model);
        }

      
    }
