@page "/fetchdata"


<h1>Calculador de TSS</h1>

<p>This component demonstrates fetching data from a service.</p>


    FTHR (Pulsaciones medias test ftp*0.95)
    <input @bind="Model.FTHR" />
    Media pulsaciones en la actividad
    <input @bind="Model.PulsacionesMedias" />
    Minutos en la actividad
    <input @bind="Model.Minutos" />

    <button @onclick="Check">Submit</button>

    

@if (!string.IsNullOrEmpty(Model.Result))
{
    <p><em>@Model.Result</em></p>
}

@code {

    
    TssCalculator.TssModel Model = new TssCalculator.TssModel();

    public async Task Check()
    {
        var calculator = new TssCalculator();
        calculator.GetCalculation(Model);
    }
}
