@page "/"
@page "/main"
<style>

	.center {
		margin: auto;
		width: 50%;
		border: 3px solid green;
		padding: 70px 0;
		text-align:center;
	}
</style>

<div class="center">
	<h1>Marcos Software.</h1>
	<h2>For more info ask Alberto de Diego (Technical Department)</h2>
</div>
