@page "/Links"
<h3>Enlaces interesantes</h3>

<a href="https://docs.google.com/document/d/1AHXbip6AeEi-pujuihgkCSq6JTN4fZGFo6L58YOpP-k/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Documento con los planes de entrenamiento de Coggan&Allen (cortesía de Mikel Landa)</a>
<br />
<a href="https://docs.google.com/document/d/1jMlQvmSiP9UP1bprPCXpOoLt2xk_XsO1Vi3TrR_tcwE/edit?usp=sharing"  target="_blank" rel="noopener noreferrer">Indicadores de Golden Cheetah y reparto tss</a>
<br />
<a href="https://docs.google.com/document/d/1ihh-SvV3XGVuL7Fg71ynToZ6jeCQLbifMz16kuxvAJ0/edit?usp=sharing"  target="_blank" rel="noopener noreferrer">Enlaces interesantes y documentación en general</a>
<br />
@code {

}
